* {
    box-sizing: border-box;
  }

body {
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    min-height: 100vh;
    margin: 0;
    background-color: #23272a;
    background-size: 100% 100%;
  }

a {
    position: relative;
}
a {
    position: absolute;
    bottom: 0;
}

button {
    color: black;
    
}
